.popup__form{
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: black;
  display: grid;
  min-height: 330px;
}

@media screen and (max-width: 450px){
  .popup__form{
    width: 282px;
    height: 322px;
  }
}