.popup__button-close{
  background-image: url(../../../images/popup/__close.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  position: relative;
  right: -430px;
}

@media screen and (max-width:450px) {
  .popup__button-close{
    right: -262px;
    width: 20px;
    height: 20px;
  }
}