.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

@media screen and (max-width: 450px) {
  .profile__avatar{
    margin: 0 auto;
  }
}