.popup__edit-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  max-width: 358px;
  padding: 0;
  margin: 30px 36px 0 36px;
  max-height: 27px;
}

@media screen and (max-width:450px) {
  .popup__edit-description{
    margin: 30px 22px 0 22px;
    max-width: 238px;
  }
}