.element__heart {
  border: none;
  outline: none;
  display: block;
  background: url(../../../images/element/__vector.svg);
}

/* .element__heart::before{ 
  background-image: url(../../../images/element/__vector.svg);
}



.element__heart:active{ 
  background-image: url(../../../images/element/__heart-active.svg)
}

.element__heart::after{ 
  background-image: url(../../../images/element/__heart-active.svg)
}*/